@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: "Montserrat", sans-serif;
    
}
::-webkit-scrollbar  {
    display: none; 
  }
.wrapper-scroll,.cards, .companies{
    scroll-behavior: smooth;
    scroll-snap-type: inline mandatory;
}
.wrapper-scroll > div,.cards > div, .companies > img {
    scroll-snap-align: start;
}
.banner{
    background-image: url('./Images/pexels-rodnae-productions-8097332\ 1.svg');
}
/* .animate{
    animation: rightLeft 1s linear infinite alternate ;
}
@keyframes rightLeft {
    0%,50%{
        transform: translateX(-20px);
    }
    100%{
        transform: translateX(0);
    }
} */